a {
  text-decoration: none;
}
.services {
  margin-bottom: 40px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  transition: 0.3s;
}
.services .icon {
  display: block;
  margin-bottom: 30px;
}
.services .icon .specificIcon {
  font-size: 60px;
  line-height: 1;
  color: #ffbd39;
}
.services .desc h3 {
  line-height: 1.3;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}
.services .desc h3:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #ffbd39;
  margin: 0 auto;
}
.services .desc h3 a {
  color: #fff;
}
.services .desc h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
}
.services .desc span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  color: #ffbd39;
}
.services:hover {
  background: #ffbd39;
}
.services:hover .icon .specificIcon {
  color: #fff;
}
.services:hover h3 {
  color: #000000;
}
.services:hover h3:after {
  background: #000000;
}
