
.navbar{
    background-color: rgb(0, 0, 0) !important ;
    width: 100%;
    height: max-content;
    padding: 10px 90px;
}
.navbar .nav-link{
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    text-wrap: nowrap;
    padding: 3px;
    transition: 0.3s;
    position: relative;
}
.navbar .nav-item{
    position: relative;
}
.navbar .nav-item::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 100%;
    background-color: goldenrod;
    transition: 0.3s;

   

}
.navbar .nav-item:hover.nav-item::after{
    width: 100%;

}
.navbar .navbar-brand{
    font-size: 1.65rem !important;
    font-weight: 800 !important;
    color: rgb(255, 255, 255) !important;
    text-wrap: nowrap;
    margin-right: 36rem !important;
}
.navbar .list{
        display: flex !important;
        gap: 38px !important;
}
@media screen and (max-width:1000px){
    .navbar{
        padding: 10px 10px;
    }
}
@media(max-width:1443px){
    .navbar .navbar-brand{
        margin-right: 25rem !important;
    }
}
@media(max-width:1271px){
    .navbar .navbar-brand{
        margin-right: 13rem !important;
    }
}
@media(max-width:1067px){
    .navbar .navbar-brand{
        margin-right: 8rem !important;
    }
}